<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>







<body class="page button-round layout-full-width if-overlay if-border-hide no-content-padding header-transparent header-fw minimalist-header sticky-header sticky-tb-color ab-hide subheader-both-left menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2173 elementor-default elementor-kit-33 elementor-page elementor-page-23">
  <div id="Wrapper">
      <div id="Header_wrapper">
          <header id="Header">

              <div id="Top_bar">
                  <div class="container">
                      <div class="column one">
                          <div class="top_bar_left clearfix">
                              <div class="logo">
                                <f:format.raw>{content0}</f:format.raw>

                              </div>
                                <f:render section="content"/>

                          </div>
                          <div class="top_bar_right">
                              <div class="top_bar_right_wrapper">
                                  <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
      </div>
      <div id="Content">
          <div class="content_wrapper clearfix">
              <div class="sections_group">
                  <div class="entry-content">
                      <div class="section the_content has_content">
                          <div class="section_wrapper">
                              <div class="the_content_wrapper">
                                  <div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23" data-elementor-settings="[]">
                                      <div class="elementor-inner">
                                          <div class="elementor-section-wrap">
                                              <section class="elementor-element elementor-element-1b4b264 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1b4b264" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                                  <div class="elementor-container elementor-column-gap-wider">
                                                      <div class="elementor-row">
                                                          <div class="elementor-element elementor-element-e60dc21 elementor-column elementor-col-100 elementor-top-column" data-id="e60dc21" data-element_type="column">
                                                              <div class="elementor-column-wrap elementor-element-populated">
                                                                  <div class="elementor-widget-wrap">
                                                                      <div class="elementor-element elementor-element-757f3a8 elementor-widget elementor-widget-text-editor" data-id="757f3a8" data-element_type="widget" data-widget_type="text-editor.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-text-editor elementor-clearfix">
                                                               
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="elementor-element elementor-element-215aff4 elementor-widget elementor-widget-text-editor" data-id="215aff4" data-element_type="widget" data-widget_type="text-editor.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-text-editor elementor-clearfix">
                                                                                  <p>
                                                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                      <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                                                  </p>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </section>
                                              <section class="elementor-element elementor-element-1cbb9c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1cbb9c6" data-element_type="section">
                                                  <div class="elementor-container elementor-column-gap-wider">
                                                      <div class="elementor-row">
                                                          <div class="elementor-element elementor-element-663fb68 elementor-column elementor-col-100 elementor-top-column" data-id="663fb68" data-element_type="column">
                                                              <div class="elementor-column-wrap elementor-element-populated">
                                                                  <div class="elementor-widget-wrap">
                                                                      <div class="elementor-element elementor-element-45a664f elementor-widget elementor-widget-mfn_portfolio" data-id="45a664f" data-element_type="widget" data-widget_type="mfn_portfolio.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="column_filters">
                                                                                  <div class="portfolio_wrapper isotope_wrapper">
                                                                                      <ul class="portfolio_group lm_wrapper isotope col-2 masonry">
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="portfolio-item.html">How you can improve sale with our simple solutions in just 1 month?</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="portfolio-item.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="portfolio-item.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single6.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single6.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="portfolio-item.html">How you can improve sale with our simple solutions in just 1 month?</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="303"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">28</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
      Date
      </dt>
                                                                                                              <dd>
                                                                                                                  June 4, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="portfolio-item.html">Which keywords are the most important, conference and case study</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="portfolio-item.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="portfolio-item.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single3.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single3.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="portfolio-item.html">Which keywords are the most important, conference and case study</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="300"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">61</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
      Date
      </dt>
                                                                                                              <dd>
                                                                                                                  June 4, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="portfolio-item.html">Spasio Company – full case study of seo optimisation</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="portfolio-item.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="portfolio-item.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single4.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single4.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="portfolio-item.html">Spasio Company – full case study of seo optimisation</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="296"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">46</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
      Date
      </dt>
                                                                                                              <dd>
                                                                                                                  June 4, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="how-we-set-up-key-words-for-local-medical-healthcare.html">How we set up key words for local medical healthcare</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="how-we-set-up-key-words-for-local-medical-healthcare.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="how-we-set-up-key-words-for-local-medical-healthcare.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single2.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single2.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="how-we-set-up-key-words-for-local-medical-healthcare.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="how-we-set-up-key-words-for-local-medical-healthcare.html">How we set up key words for local medical healthcare</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="292"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">58</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
      Date
      </dt>
                                                                                                              <dd>
                                                                                                                  June 4, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="portfolio-item.html">How SEO can help with selling more and more to new clients?</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="portfolio-item.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="portfolio-item.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single1.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single1.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="portfolio-item.html">How SEO can help with selling more and more to new clients?</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="289"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">70</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
              Date
            </dt>
                                                                                                              <dd>
                                                                                                                  June 4, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                          <li class="portfolio-item isotope-item has-thumbnail">
                                                                                              <div class="portfolio-item-fw-bg">
                                                                                                  <div class="portfolio-item-fill"></div>
                                                                                                  <div class="list_style_header">
                                                                                                      <h3 class="entry-title"><a class="link" href="portfolio-item.html">Why proffesional SEO is so important on mobile devices?</a></h3>
                                                                                                      <div class="links_wrapper">
                                                                                                          <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                                                                          <a href="portfolio-item.html" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="image_frame scale-with-grid">
                                                                                                      <div class="image_wrapper">
                                                                                                          <a href="portfolio-item.html">
                                                                                                              <div class="mask"></div><img width="780" height="437" src="images/agency4-portfolio-single5.jpg" class="scale-with-grid wp-post-image" alt=""></a>
                                                                                                          <div class="image_links double">
                                                                                                              <a href="images/agency4-portfolio-single5.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div>
                                                                                                  <div class="desc">
                                                                                                      <div class="title_wrapper">
                                                                                                          <h5 class="entry-title"><a class="link" href="portfolio-item.html">Why proffesional SEO is so important on mobile devices?</a></h5>
                                                                                                          <div class="button-love">
                                                                                                              <a href="#" class="mfn-love" data-id="209"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">89</span></a>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      <div class="details-wrapper">
                                                                                                          <dl>
                                                                                                              <dt>
                  Date
                </dt>
                                                                                                              <dd>
                                                                                                                  June 3, 2020
                                                                                                              </dd>
                                                                                                          </dl>
                                                                                                      </div>
                                                                                                      <div class="desc-wrapper">
                                                                                                          Quisque id nulla finibus, semper odio nec, accumsan purus. Sed at dolor ut purus congue congue vel non metus. Phasellus non interdum lacus, in vulputate purus.
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>
                                                                                          </li>
                                                                                      </ul>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </section>
                                              <section class="elementor-element elementor-element-81b0fcb elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="81b0fcb" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                                  <div class="elementor-background-overlay"></div>
                                                  <div class="elementor-container elementor-column-gap-wider">
                                                      <div class="elementor-row">
                                                          <div class="elementor-element elementor-element-c3ddff2 elementor-column elementor-col-100 elementor-top-column" data-id="c3ddff2" data-element_type="column">
                                                              <div class="elementor-column-wrap elementor-element-populated">
                                                                  <div class="elementor-widget-wrap">
                                                                      <div class="elementor-element elementor-element-a0febba elementor-widget elementor-widget-text-editor" data-id="a0febba" data-element_type="widget" data-widget_type="text-editor.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-text-editor elementor-clearfix">
                                                                                  <h2><span style="color: #4989fd;">Don’t miss
                          <br>
                          our </span>future updates!</h2>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="elementor-element elementor-element-b066651 elementor-widget elementor-widget-text-editor" data-id="b066651" data-element_type="widget" data-widget_type="text-editor.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-text-editor elementor-clearfix">
                                                                                  <p>
                                                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                      <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                                                  </p>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="elementor-element elementor-element-205cece elementor-widget__width-auto elementor-widget elementor-widget-shortcode" data-id="205cece" data-element_type="widget" data-widget_type="shortcode.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-shortcode">
                                                                                  <form id="newsletterform" class="newsletter_form">
                                                                                      <div class="column three-fourth">
                                                                                          <input placeholder="E-mail address" type="email" id="email_news" name="email_news" size="40" aria-required="true" aria-invalid="false">
                                                                                      </div>
                                                                                      <div class="column one-fourth">
                                                                                          <input type="button" value="Join" id="submit" onclick="return check_values_news();">
                                                                                      </div>
                                                                                  </form>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="elementor-element elementor-element-77dc5cf elementor-widget elementor-widget-text-editor" data-id="77dc5cf" data-element_type="widget" data-widget_type="text-editor.default">
                                                                          <div class="elementor-widget-container">
                                                                              <div class="elementor-text-editor elementor-clearfix">
                                                                                  <p>
                                                                                      By signing up you automaticaly
                                                                                      <br> accept our <a href="#">Privacy Policy</a> and <a href="#">Terms of use</a>
                                                                                  </p>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </section>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <footer id="Footer" class="clearfix">
          <div class="widgets_wrapper">
              <div class="container">
                  <div class="column one-second">
                      <aside class="widget_text widget widget_custom_html">
                          <div class="textwidget custom-html-widget">
                              <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                  <div class="image_wrapper"><img class="scale-with-grid" src="images/Logo.png">
                                  </div>
                              </div>
                              <hr class="no_line" style="margin:0 auto 30px"> Level 13,2 Elizabeth St,
                              <br> Melbourne, Victoria 3000,
                              <br> Australia
                          </div>
                      </aside>
                  </div>
                  <div class="column one-fourth">
                      <aside class="widget_text widget widget_custom_html">
                          <div class="textwidget custom-html-widget">
                              <h6>Services</h6><a href="#" style="color:inherit">Complex Page Ranking</a>
                              <br>
                              <a href="#" style="color:inherit">Site Optimisation</a>
                              <br>
                              <a href="#" style="color:inherit">User Retention</a>
                              <br>
                              <a href="#" style="color:inherit">Complex Monitoring</a>
                              <br>
                              <a href="#" style="color:inherit">Boosting Ranking</a>
                              <br>
                          </div>
                      </aside>
                  </div>
                  <div class="column one-fourth">
                      <aside class="widget_text widget widget_custom_html">
                          <div class="textwidget custom-html-widget">
                              <h6>Website</h6><a href="about.html" style="color:inherit">About Us</a>
                              <br>
                              <a href="#" style="color:inherit">Privacy Policy</a>
                              <br>
                              <a href="about.html" style="color:inherit">Our Team</a>
                              <br>
                              <a href="contact.html" style="color:inherit">Contact</a>
                          </div>
                      </aside>
                  </div>
              </div>
          </div>
          <div class="footer_copy">
              <div class="container">
                  <div class="column one">
                      <a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big"></i></a>
                      <div class="copyright">
                          © 2020 BeAgency 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </div>
  <div id="Side_slide" class="right dark" data-width="250">
      <div class="close-wrapper">
          <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
      </div>
      <div class="extras">
          <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
          <div class="extras-wrapper"></div>
      </div>
      <div class="menu_wrapper"></div>
  </div>
  <div id="body_overlay"></div>


  <!-- JS -->
  <script src="../../js/jquery-2.1.4.min.js"></script>

  <script src="../../js/mfn.menu.js"></script>
  <script src="../../js/jquery.plugins.js"></script>
  <script src="../../js/jquery.jplayer.min.js"></script>
  <script src="../../js/animations/animations.js"></script>
  <script src="../../js/translate3d.js"></script>
  <script src="../../js/scripts.js"></script>
  <script src="../../js/email.js"></script>
  <script src="../../js/el_demo.js"></script>




</body>
  



</html>
