

<body class="page button-round layout-full-width if-overlay if-border-hide no-content-padding header-transparent header-fw minimalist-header sticky-header sticky-tb-color ab-hide subheader-both-left menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2173 elementor-default elementor-kit-33 elementor-page elementor-page-19" data-elementor-device-mode="desktop">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">

                <div id="Top_bar" class="" style="top: 0px;">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix" style="width: 1305px;">
                                <div class="logo">
                                    <f:format.raw>{content0}</f:format.raw>
                                </div>
                                

                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper">
                                    <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section the_content has_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper">
                                    <div data-elementor-type="wp-page" data-elementor-id="19" class="elementor elementor-19" data-elementor-settings="[]">
                                        <div class="elementor-inner">
                                            <div class="elementor-section-wrap">
                                                <section class="elementor-element elementor-element-95acacd elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="95acacd" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1476px; left: -218.594px;">
                                                    <div class="elementor-container elementor-column-gap-wider">
                                                        <div class="elementor-row">
                                                            <div class="elementor-element elementor-element-b51d91a elementor-column elementor-col-100 elementor-top-column" data-id="b51d91a" data-element_type="column">
                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-7e4fc04 elementor-widget elementor-widget-text-editor" data-id="7e4fc04" data-element_type="widget" data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                             
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-012e95c elementor-widget elementor-widget-text-editor" data-id="012e95c" data-element_type="widget" data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                                    <p>
                                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                                        <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <f:render section="content" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper">
                <div class="container">
                    <div class="column one-second">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid" src="images/Logo.png">
                                    </div>
                                </div>
                                <hr class="no_line" style="margin:0 auto 30px"> Level 13,2 Elizabeth St,
                                <br> Melbourne, Victoria 3000,
                                <br> Australia
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <h6>Services</h6><a href="#" style="color:inherit">Complex Page Ranking</a>
                                <br>
                                <a href="#" style="color:inherit">Site Optimisation</a>
                                <br>
                                <a href="#" style="color:inherit">User Retention</a>
                                <br>
                                <a href="#" style="color:inherit">Complex Monitoring</a>
                                <br>
                                <a href="#" style="color:inherit">Boosting Ranking</a>
                                <br>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <h6>Website</h6><a href="about.html" style="color:inherit">About Us</a>
                                <br>
                                <a href="#" style="color:inherit">Privacy Policy</a>
                                <br>
                                <a href="about.html" style="color:inherit">Our Team</a>
                                <br>
                                <a href="contact.html" style="color:inherit">Contact</a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            © 2020 BeAgency 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
            <div class="extras-wrapper"></div>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>







</body>