




<f:image image="{elements.0.files.0}"/>

<section class="elementor-element elementor-element-1cbb9c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1cbb9c6" data-element_type="section">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-663fb68 elementor-column elementor-col-100 elementor-top-column" data-id="663fb68" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-45a664f elementor-widget elementor-widget-mfn_portfolio" data-id="45a664f" data-element_type="widget" data-widget_type="mfn_portfolio.default">
                            <div class="elementor-widget-container">
                                <div class="column_filters">
                                    <div class="portfolio_wrapper isotope_wrapper">
                                        <ul class="portfolio_group lm_wrapper isotope col-2 masonry" style="position: relative; height: 1301.47px;">
                                            
                                            <f:for each="{elements}" as="element">
                                            <li class="portfolio-item isotope-item has-thumbnail" style="position: absolute; left: 0px; top: 0px;">
                                                <div class="portfolio-item-fw-bg">
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="portfolio-item.html">{element.data.header}</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                            <a href="portfolio-item.html" class="button button_left button_theme button_js kill_the_icon"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="portfolio-item.html">
                                                                <f:debug>{element.files.0}</f:debug>
                                                                
                                                                <div class="mask"></div><f:image image="{element.files.0.originalFile}" width="780" height="437" class="scale-with-grid wp-post-image" alt=""/></a>
                                                            <div class="image_links double">
                                                                <a href="images/agency4-portfolio-single6.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="portfolio-item.html">{element.data.header}</a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="303"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">28</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
Date
</dt>
                                                                <dd>
                                                                    June 4, 2020
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            <f:format.raw>{element.data.bodytext}</f:format.raw>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                               
                                        </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
